name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: "0 5 * * *"

# Cancel previous runs that have not completed
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        python-version:
        - "3.8"  # Earliest version supported by genno; matches xarray/setup.cfg
        - "3.9"
        - "3.10"
        - "3.11" # Latest release / latest supported by genno / testable on GHA

        # For fresh releases and development versions of Python, compiled
        # binary wheels are not available for some dependencies, e.g. llvmlite,
        # numba, numpy, and/or pandas. Compiling these on the job runner
        # requires a more elaborate build environment, currently out of scope
        # for genno. Exclude these versions from CI.
        # - "3.12.0-alpha.2"  # Development version

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-py${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: ${{ env.depth }}

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: "**/pyproject.toml"

    - uses: ts-graphviz/setup-graphviz@v1

    - name: Install the Python package and dependencies
      # TEMPORARY install ixmp from `main` branch pending iiasa/ixmp#477
      run: |
        pip install "ixmp @ git+https://github.com/iiasa/ixmp.git@main"
        pip install --upgrade --upgrade-strategy=eager .[docs,tests]

    - name: Run test suite using pytest
      run: pytest genno --trace-config --color=yes --verbose --cov-report=xml --cov-report=term --numprocesses auto

    - name: Test documentation build using Sphinx
      if: startsWith(matrix.os, 'ubuntu')
      run: make -C doc html

    - name: Upload test coverage to Codecov.io
      uses: codecov/codecov-action@v3
