name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: "0 5 * * *"

# Cancel previous runs that have not completed
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  depth: 100  # Depth of history to clone, for setuptools-scm

jobs:
  pytest:
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        python-version:
        - "3.8"  # Earliest version supported by genno; matches xarray/setup.cfg
        - "3.9"
        - "3.10" # Latest release / latest supported by genno / testable on GHA

        # For fresh releases and development versions of Python, compiled
        # binary wheels are not available for some dependencies, e.g. llvmlite,
        # numba, numpy, and/or pandas. Compiling these on the job runner
        # requires a more elaborate build environment, currently out of scope
        # for genno. Exclude these versions from CI.
        # - "3.11.0-alpha.2"  # Development version

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-py${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: ${{ env.depth }}

    - name: Fetch tags (for setuptools-scm)
      run: git fetch --tags --depth=${{ env.depth }}

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: "**/pyproject.toml"

    - name: Upgrade pip, wheel
      run: python -m pip install --upgrade pip wheel

    - uses: ts-graphviz/setup-graphviz@v1

    - name: Install the Python package and dependencies
      run: pip install .[docs,tests]

    - name: Run test suite using pytest
      run: pytest genno --trace-config --verbose --cov-report=xml --cov-report=term --color=yes

    - name: Test documentation build using Sphinx
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      run: make -C doc html

    - name: Upload test coverage to Codecov.io
      uses: codecov/codecov-action@v3
